.columns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5vw;
    margin-top: 40px;
    width: 100%;
  }
  

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 600ms;

  }

.column .img {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(40px + 2vw);
    box-shadow: 0 2px 10px #000000;
    transition: all 600ms;

  }
  

@supports (animation-timeline: scroll()) {
  .column-reverse {
    transform: translateY(calc(-100% + 100vh));
    flex-direction: column-reverse;
  }

  .columns {
    overflow-y: clip;
  }
}

@keyframes adjust-position {
  from {
    transform: translateY(calc(-100% + 100vh));
  }
  to {
    transform: translateY(calc(100% - 100vh));
  }
}

.column-reverse {
  animation: adjust-position linear forwards;
  animation-timeline: scroll(root block);
}


@media screen and (max-width: 900px) {

    .columns {
        gap: 3vw;
        margin-top: 20px;
      }

      .column .img {
        margin-bottom: calc(10px + 2vw);
        box-shadow: 0 2px 10px #000000;
      }
     
}
@media screen and (max-width: 600px) {

    .columns {
        display: none; 
      }   
}