.title-container {
  position: relative;
  padding-top: 100px;
  padding-left: 10vw;
  width: fit-content;
  min-width: min-content;
  background-color: transparent;
  transition: 600ms;
  display: flex;
  flex-direction: column;
}

.underline-title {
  width: 5vw;
  background-color: #fff;
  height: 2px;
  transition: width 300ms;
}

.title {
  font-family: romantica, Haettenschweiler, Impact, "Arial Narrow", sans-serif;
  letter-spacing: 0.3rem;
  font-size: calc(2rem + 5vw);
  width: fit-content;
  color: white;
  text-transform: uppercase;
  text-align: start;
  background-color: transparent;
  text-shadow: 0 3px 15px rgb(0, 0, 0, 0.3);
}

.title-container:hover .underline-title {
  width: 100%;
}
