.title-container {
    position: relative;
    margin-top: 120px;
    margin-left: 10vw;
    width: fit-content;
    background-color: transparent;
    transition: 600ms;
  }
  
  .underline-title {
    width: 100px;
    background-color: #fff;
    height: 2px;
    transition: width 300ms;
  }
  
  .title {
    font-family: romantica;
    letter-spacing: 0.3rem;
    font-size: calc(2rem + 5vw);
    width: fit-content;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background-color: transparent;
    text-shadow: 0 3px 15px rgb(0, 0, 0, 0.3);;
  }
  
  .title-container:hover .underline-title {
    width: 100%;

  }