.reseaux {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 20px;
  left: 40px;
  background: transparent;
  z-index: 1000;
}

.reseaux-reduced {
  display: none;
  cursor: pointer;
}

.reseaux-container ul,
.reseaux-reduced ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  background: inherit;
}

.reseaux-container li,
.reseaux-reduced li {
  display: flex;
  align-items: center;
  background: transparent;
}

.reseaux-container a,
.reseaux-reduced a {
  display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: inherit;
  padding: 5px 10px;
  border-radius: 18px;
  gap: 8px;
  background: linear-gradient(#f7f6f6ad, #eae9e9b0);
  border: 1px solid #c3c3c3b0;
  backdrop-filter: blur(4px);
  box-shadow: 0 2px 5px #00000032;
}

.reseaux-reduced a {
  border-radius: 13px;
  padding: 7px 7px;
}

.insta-container,
.insta-reduced,
.twitter-container,
.twitter-reduced {
  transition: 300ms;
}

.insta-container:hover,
.insta-reduced:hover,
.twitter-container:hover,
.twitter-reduced:hover {
  background: linear-gradient(#161616d8, #000000df);
  border: 1px solid #282828;
  color: #f7f6f6e8;
}

.insta-container:hover .icon,
.insta-reduced:hover .icon,
.twitter-container:hover .icon,
.twitter-reduced:hover .icon {
  stroke: #f7f6f6e8;
  color: transparent;
}

.reseaux-container .icon, .reseaux-reduced .icon {
  width: 18px;
  height: 18px;
  background-color: transparent;
}


@media screen and (max-width: 700px) {
  .reseaux-container {
    display: none;
  }

  .reseaux-reduced {
    display: flex;
  }
}
