.navbar {
  background: #1b1b1b00;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px 30px 5px 30px;
  position: fixed;
  top: 0;
  transition: background 400ms;
  width: 100%;
  z-index: 1000;
}

.nav-links-container {
  align-items: center;
  background: transparent;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-left {
  justify-content: flex-start;
  background: transparent;
}

.nav-right {
  align-items: center;
  background: transparent;
  flex-grow: 1;
  justify-content: flex-end;
}

.nav-links li {
  background: transparent;
  margin: 0 20px;
}

.nav-links a {
  background-color: transparent;
  color: #d8d8d8;
  text-decoration: none;
  text-shadow: 0 0 2px #000000;
  transition: color 0.3s ease;
}

.nav-component:hover a,
.nav-component.active-link:hover a {
  color: #ffffff;
  text-shadow: 0 0 1px #ffffff;
  background: transparent; /* Ajout de la couleur de fond au lien */
}

.nav-component.active-link a {
  color: rgb(255, 255, 255);
}

#nav-resume {
  backdrop-filter: blur(3px);
  background: #d1d1d196;
  border: 1px solid transparent;
  border-radius: 25px;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
  padding: 5px 15px;
  transition: 200ms;
}

.nav-links .link-cv {
  align-items: center;
  background: transparent;
  display: flex;
  text-shadow: none;
  color: #ffffff;
}

#nav-resume:hover {
  background-color: #ffffffd9;
  border: 1px solid #ffffff;
  box-shadow: 0 3px 10px rgb(0, 0, 0, 0.5);
}

#nav-resume:hover .link-cv {
  color: #000000;
  text-shadow: 0 0 1px #000000;
}

.download-icon {
  margin-left: 8px;
  height: 20px;
  background-color: inherit;
  transition: 200ms;
}

#nav-resume:hover .download-icon {
  stroke: #000000;
}

.nav-reduced {
  cursor: pointer;
  display: none;
  flex-direction: column;
  height: 21px;
  justify-content: space-between;
}

.nav-reduced .line {
  background: #fff;
  border-radius: 5px;
  height: 3px;
  width: 25px;
}

@media screen and (max-width: 700px) {
  .navbar {
    background: #1a1a1a;
    padding: 12px 30px;
  }

  .nav-links-container {
    display: none;
    flex-direction: column;
    left: 0;
    position: absolute;
    top: 45px;
    width: 100vw;
  }

  .nav-links-container ul {
    padding: 0;
    margin: 0;
    display: flex; /* Pour s'assurer que les éléments sont alignés horizontalement */
  }

  .nav-links-container.active {
    display: flex;
    justify-content: start;
    background: #232323;
    height: 100vh;
  }

  .nav-links-container.active .nav-links {
    display: flex;
    flex-direction: column;
  }

  .nav-links-container.active .nav-component {
    background: #171717;
    border-top: 1px solid #909090;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
  }

  .nav-links-container.active .nav-right {
    justify-content: start;
  }

  .nav-links-container.active #nav-resume {
    background: #171717;
    border-bottom: 1px solid #909090;
    border-radius: 0;
    border-top: 1px solid #909090;
    padding: 10px 20px;
    text-shadow: transparent;
  }

  .nav-links-container.active #nav-resume a {
    background: transparent;
  }

  .nav-links-container.active .nav-component:hover {
    background: black;
  }

  .nav-links-container.active #nav-resume:hover {
    background: black;
    border: transparent;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;

    .link-cv {
      color: #fff;
    }
    .download-icon {
      stroke: white;
    }
  }

  .nav-reduced {
    display: flex;
  }
}
